.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  background-color: rgba(8, 150, 245, 0.842);
  border: none;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  display: inline-block;
  width: 200px;
  height: 40px;
  text-transform: capitalize;
  margin-bottom: 2px;
  -webkit-transition: 0.2s opacity;
  transition: 0.5s opacity;
  transition-duration: 0.2s;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 50px;
}
