.amount {
  color: rgb(122, 51, 46);
}

.delete {
  width: 50px;
  height: 24px;
  border: none;
  /* Body/Medium 16 - Bold */
  background-color: white;
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;

  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: -0.25px;

  color: #c25757;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.delete:hover {
  background-color: rgb(192, 49, 49);
  color: rgb(248, 246, 246);
}
