.edit-item {
  border: #c25757 solid;
  width: 116px;
  height: 24px;
  border: none;
  /* Body/Medium 16 - Bold */
  background-color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: -0.25px;

  color: #0e6dac;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
